<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.temp.mapper.RtWorkwxMsgHisMapper">
    
    <resultMap type="RtWorkwxMsgHis" id="RtWorkwxMsgHisResult">
        <result property="pkId"    column="PK_ID"    />
        <result property="recvUser"    column="RECV_USER"    />
        <result property="ruoyiUser"    column="RUOYI_USER"    />
        <result property="messageContent"    column="MESSAGE_CONTENT"    />
        <result property="messageType"    column="MESSAGE_TYPE"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="sendTime"    column="SEND_TIME"    />
        <result property="operateStatus"    column="OPERATE_STATUS"    />
        <result property="errcode"    column="ERRCODE"    />
        <result property="errmsg"    column="ERRMSG"    />
        <result property="msgid"    column="MSGID"    />
    </resultMap>

    <sql id="selectRtWorkwxMsgHisVo">
        select PK_ID, RECV_USER, RUOYI_USER, MESSAGE_CONTENT, MESSAGE_TYPE, CREATE_TIME, SEND_TIME, OPERATE_STATUS, ERRCODE, ERRMSG, MSGID from RT_WORKWX_MSG_HIS
    </sql>

    <select id="selectRtWorkwxMsgHisList" parameterType="RtWorkwxMsgHis" resultMap="RtWorkwxMsgHisResult">
        <include refid="selectRtWorkwxMsgHisVo"/>
        <where>  
            <if test="recvUser != null  and recvUser != ''"> and RECV_USER = #{recvUser}</if>
            <if test="ruoyiUser != null  and ruoyiUser != ''"> and RUOYI_USER = #{ruoyiUser}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="sendTime != null "> and SEND_TIME = #{sendTime}</if>
        </where>
    </select>
    
    <select id="selectRtWorkwxMsgHisByPkId" parameterType="Long" resultMap="RtWorkwxMsgHisResult">
        <include refid="selectRtWorkwxMsgHisVo"/>
        where PK_ID = #{pkId}
    </select>

    <insert id="insertRtWorkwxMsgHis" parameterType="RtWorkwxMsgHis" useGeneratedKeys="true" keyProperty="pkId">
        insert into RT_WORKWX_MSG_HIS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recvUser != null">RECV_USER,</if>
            <if test="ruoyiUser != null">RUOYI_USER,</if>
            <if test="messageContent != null">MESSAGE_CONTENT,</if>
            <if test="messageType != null">MESSAGE_TYPE,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="sendTime != null">SEND_TIME,</if>
            <if test="operateStatus != null">OPERATE_STATUS,</if>
            <if test="errcode != null">ERRCODE,</if>
            <if test="errmsg != null">ERRMSG,</if>
            <if test="msgid != null">MSGID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recvUser != null">#{recvUser},</if>
            <if test="ruoyiUser != null">#{ruoyiUser},</if>
            <if test="messageContent != null">#{messageContent},</if>
            <if test="messageType != null">#{messageType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="operateStatus != null">#{operateStatus},</if>
            <if test="errcode != null">#{errcode},</if>
            <if test="errmsg != null">#{errmsg},</if>
            <if test="msgid != null">#{msgid},</if>
         </trim>
    </insert>

    <update id="updateRtWorkwxMsgHis" parameterType="RtWorkwxMsgHis">
        update RT_WORKWX_MSG_HIS
        <trim prefix="SET" suffixOverrides=",">
            <if test="recvUser != null">RECV_USER = #{recvUser},</if>
            <if test="ruoyiUser != null">RUOYI_USER = #{ruoyiUser},</if>
            <if test="messageContent != null">MESSAGE_CONTENT = #{messageContent},</if>
            <if test="messageType != null">MESSAGE_TYPE = #{messageType},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="sendTime != null">SEND_TIME = #{sendTime},</if>
            <if test="operateStatus != null">OPERATE_STATUS = #{operateStatus},</if>
            <if test="errcode != null">ERRCODE = #{errcode},</if>
            <if test="errmsg != null">ERRMSG = #{errmsg},</if>
            <if test="msgid != null">MSGID = #{msgid},</if>
        </trim>
        where PK_ID = #{pkId}
    </update>

    <delete id="deleteRtWorkwxMsgHisByPkId" parameterType="Long">
        delete from RT_WORKWX_MSG_HIS where PK_ID = #{pkId}
    </delete>

    <delete id="deleteRtWorkwxMsgHisByPkIds" parameterType="String">
        delete from RT_WORKWX_MSG_HIS where PK_ID in 
        <foreach item="pkId" collection="array" open="(" separator="," close=")">
            #{pkId}
        </foreach>
    </delete>
</mapper>